{% load static %}
{% with request.resolver_match.view_name as view_name %}
{% comment %} {% with request.resolver_match.view_name as view_name %}

<header>
    <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <div class="container">
        <a class="navbar-brand" href="{% url 'blog:index' %}">
          <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          Блогикум
        </a>        
        <ul class="nav  nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'blog:index' %}active{% endif %}" href="{% url 'blog:index' %}">
              Лента записей
            </a>
          </li>
          <li class="nav-item">              
            <a class="nav-link {% if view_name == 'pages:about' %}active{% endif %}" href="{% url 'pages:about' %}">
              О проекте
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'pages:rules' %}active{% endif %}" href="{% url 'pages:rules' %}">
              Наши правила
            </a>
          </li>
        </ul>      
      </div>
    </nav> 
</header>

{% endwith %} {% endcomment %}
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;>
    <div class="container-fluid">
        {% comment %} <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button> {% endcomment %}
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link {% if view_name == 'api:payment' %}active{% endif %}" href="{% url 'api:payment' %}">
                Заявки на оплату
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'api:requisite' %}active{% endif %}" href="{% url 'api:requisite' %}">
                Реквизиты
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Пользователь</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
    </nav>
</header>
{% endwith %}