{% load static %}
{% with request.resolver_match.view_name as view_name %}

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="nav nav-pills">
            <li class="nav-item">
            <a class="nav-link {% if view_name == 'api:payment' %}active{% endif %}" href="{% url 'api:payment' %}">
                Заявки на оплату
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'api:requisite' %}active{% endif %}" href="{% url 'api:requisite' %}">
                Реквизиты
            </a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link {% if view_name == 'api:profile' %}active{% endif %}" href="{% url 'api:profile' user.username %}">
                  Профиль пользователя
                </a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link {% if view_name == 'login' %}active{% endif %}" href="{% url 'login' %}">
                  Войти
                </a>
                
              </li>
            {% endif %}
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
    </nav>
</header>
{% endwith %}