<div class="col d-flex justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="card-body">      
      <h5 class="card-title">Лимит доступных средств: {{ requsite.card_limit }}</h5>
      <h5 class="card-title">ФИО владельца реквизитов: {{ requsite.first_name }} {{ requsite.last_name }}</h5>
      <h5 class="card-title">Тип платежа: {{ requsite.payment_type }}</h5>
      <h5 class="card-title">Тип карты/счёта: {{ requsite.account_type }}</h5>
      <h5 class="card-title">Номер телефона: {{ requsite.phone_number }}</h5>
      <h5 class="card-title">Дата создания: {{ requsite.created }}</h5>     
    </div>
  </div>
</div>
